@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@500&display=swap');

::-webkit-scrollbar {
  display: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  
}

.home,
.reports,
.products,
.team,
.reports {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
body
{
  background-color: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
}
main {
  padding: 10px;
}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
/* .sidebar {
  background: rgb(0, 7, 61);
  color: white;
  height: 900px;
  //overflow-y: auto;
} */

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 150px 10px;
}
.logo {
  font-size: 18px;
  line-height: 0;
}
.bars {
  width: 300px;
}
.hide {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 30px;
  padding: 10px;
}
.search input {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background: rgb(238, 238, 238);

  color: white;
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.link {
  display: flex;
  color: white;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
}
.link_text {
  white-space: nowrap;
  font-size: -19px;
}

.menu {
  display: flex;
  color: white;

  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  gap: 10px;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
  border-bottom: #fff 0.5px solid;
}


body{
  font-family: 'PT Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container-fluid{
  display:flex;
} 
main{
  width: 100%;
  padding: 20px;
}
.sidebar_content{
  background: #000;
  color: #fff;
  height: 100vh;
  width: 100px;
  transition: all 0.5s;
  border-radius: 0% 10% 0% 10%;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 3.5px 15px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}
.bg-myRed{
  background-color: crimson;
}

.content{
  padding: 12px;
  height: 3000px;
}

.coloring{
  color: black;
}

.scroll {
  max-height: 83vh;
 overflow: scroll;
    position: relative;
  
}

.text_size {
  
  font-size: 15px;
}

.AppbarStatus{
  border-radius: 15px 50px 30px 5px
}
.NavBarPadding{
  width: 100%;
}
.NewSidebarCss{
  display: inline;
  justify-content:center;
  position: fixed;
  top: 0;
  
}




